* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 1.5;
}



section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}


header,
footer {
    border-top: 5px solid rgb(246, 5, 5);
    border-bottom: 5px solid rgb(185, 15, 15);
}



h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

h2,
h3 {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

p,
ul,
ol {
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    word-spacing: 0.1em;
    text-indent: 20px;
}



a:link,
a:visited,
a:focus,
a:hover {
    color: rgb(0, 38, 255);
}

a:link,
a:visited {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:active {
    background-color: chartreuse;
    color: chocolate;
    text-decoration: none;
}

a.external:after {
    content: '↗';
}



ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li::before {
    content: '•';
    margin-right: 5px;
}

ol li::before {
    content: counter(list-item) '. ';
    margin-right: 5px;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}


nav a:link,
nav a:visited,
nav a:focus,
nav a:hover {
    color: rgb(0, 255, 0);
    text-decoration: none;
    padding: 5px 10px;
    background-color: #000000;
    border-radius: 5px;
    transition: background-color 0.2s;
}

nav a:hover,
nav a:focus {
    background-color: #c9af98;
}